<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/header.css" media="screen" />  <!--header/cabeçalho-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg">

    <div class="container" style="width:15%;">
        <a class="navbar-brand" href="/agent/tickets">
           <img id="logo" src="img/logo_final_2.png" alt="techLog_logo">
        </a>
    </div>


        <ul class=" collapse navbar-collapse navbar-nav nav-center justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/agent/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/agent/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="agent/chat">Support</a>
                </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/LogOut">Log Out</a>
                </li>
        </ul>
</nav>

    <script src="js/bootstrap.js" type="text/javascript"></script>

</body>
</html>