<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/footer.css" media="screen" />  <!--footer/rodapé-->
    </head>
    <body>

        <div id="footer">
            <div class="content">
                <a href="https://www.facebook.com" target="_blank"><img src="img/facebook_logo.png" id="facebook_logo" alt=""></a>
                <a href="https://www.youtube.com" target="_blank"><img src="img/youtube_logo.png" id="youtube_logo" alt=""></a>
            </div>


            <div>
        </div>

    <script src = "js/footer.js" type="javascript"></script>

    </body>
</html>



