.sidebar {
    width: 30%;
    height: 100%;
    background-color: cornflowerblue;
    transition: 1s ease;
    position: relative;
}

.main-content {
    width: 100%;
    background-color: whitesmoke;
    transition: 1s ease;
}

.main-content_large {
    width: 90%;
}

.sidebar_small {
    width: 0%;
}

button {
    position: absolute;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
    left: 0%;
    top: 2rem;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar_contents {
    white-space: nowrap;
    margin-left: 10%;
}
